{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />

<html>
	<header>
		<title>Max Corwin</title>
	</header>
	<body>
		<h1>Welcome to Secret Santa!</h1>
		<h3>To sign up, please enter your name and email.</h3>

		<form action='/' method='post'>
			{% csrf_token %}
			{% for field in form %}
				<div>
					<label>{{ field.label }}: </label>
					<span class='textbox'>{{ field }}</span>
				</div>
			{% endfor %}
			<div><input type='submit' value='Submit' class='button'></div>
		</form>
	</body>
</html>

